@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@0;1&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto Condensed', sans-serif;
}

body {
   background: url(raketa-arkonsoft.jpeg), hsl(240 80% 30% / 0.2);
   background-blend-mode: saturation;
   background-size: cover;
}

.calendar {
   font-family: 'Merriweather', serif;
   font-style: italic;
   color: hsl(0 100% 100% / 0.7);
   padding: 20px 40px;
}

.months-container {
   justify-content: center;
   row-gap: 20px;
   column-gap: 55px;
}

.calendar .months-container .month-container {
   background: hsl(240 100% 100% / 0.05);
   border-radius: 7px;
   padding: 5px 20px;
   min-width: 280px;
   box-shadow: 15px 15px 40px hsl(0 0% 0% / 0.15);
}

.calendar table.month th.month-title {
   color: steelblue;
   font-size: 1.2em;
   font-weight: 200;
}

table.month td:first-child,
table.month thead th:first-child {
   color: tomato;
}

.calendar table.month td.day .day-content {
   padding: 6px 8px;
}

table.month td.day .day-content:hover {
   background: steelblue;
   color: #fff;
}

.calendar .calendar-header {
   border: none;
}

.calendar .calendar-header table th:hover {
   background: transparent;
}

.calendar .calendar-header .year-title {
   font-size: 1.7em;
}

.calendar .calendar-header .year-neighbor {
   font-size: 1.3em;
}

.calendar .calendar-header .year-neighbor2 {
   font-size: 1em;
}

.calendar-header table th span {
   font-style: normal;
   opacity: 0.8;
}

@media (min-width: 1365px) and (max-width: 1920px) {
   .calendar .months-container .month-container:last-child {
      color: hsl(240 10% 20% / 0.7);
   }
}